ul#flickrhood_photolist {
	padding: 0em;
	margin: 0em;
	list-style: none;
}

ul#flickrhood_photolist li {
	display: inline;
	float: left;
	background: transparent none no-repeat fixed top;
	margin: 2em;
	padding: 0em;
	width: 100px;
	height: 100px;
}

ul#flickrhood_photoset {
	padding: 0em;
	margin: 0em;
	list-style: none;
}

ul#flickrhood_photoset li {
	display: inline;
	float: left;
	background: transparent none no-repeat fixed top;
	margin: 2em;
	padding: 0em;
	width: 100px;
	height: 100px;
}

ul#flickrhood_taglist {
	padding: 1em 4em 1em 4em;
}

ul#flickrhood_taglist ul {
	padding: 0px 0px 10px 0px;
}

ul#flickrhood_taglist ul li {
	display:inline;
	padding: 0em; 
	margin: 0em 1em 0em 0em;
	background: transparent none no-repeat fixed top;
}

ul#flickrhood_tagcloud {
	list-style: none;
	line-height: normal;
}

ul#flickrhood_tagcloud li {
	display: inline;
	background: transparent none no-repeat fixed top;
	padding: 0em;
	margin: 0em .1em 0em 0em;
}

ul#flickrhood_setlist {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

ul#flickrhood_setlist li {
	list-style: none;
	margin: 1em auto 1em auto;
	padding: 1em 1em 1em 1em;
	background: transparent none no-repeat fixed top;
	border: 1px solid black;
	width: 80%;
}

ul#flickrhood_setlist img {
	float: left;
	padding-right: 1em;
}


.flickrhood_settitle {
	display: block;
}

.clearleft {
	clear: left;
}
